/*Main stylesheet for Einsteinium.*/
html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0);
}

#pagewrapper {
  margin: auto;
  display: grid;
  width: 99%;
  height: 99%;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: 5% 85% 10%;

  background-color: #3a0;
}
#titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: span 3;
  background-color: #280;
}
#titletext {

}
#reactorlayers {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-row: 2;
  grid-column: 2;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #000;
  color: #7A0;
  border: 2px ridge blue;
  padding-right: 50px;
}


#reactorlayers .layer {
  background-color: #330;/*DEBUG*/
  aspect-ratio: 1;
}

#reactorlayers .layerinner {
  background-color: yellow;
  width: 99%;
  height: 99%;
  display: grid;
  grid-template-columns: repeat(var(--cells-x), 1fr);
  grid-template-rows: repeat(var(--cells-z), 1fr);
  /*I'm so glad this worked :D*/
}

#reactorlayers .cell {
  border: 1px solid black;
  background-color: #FFF;
}
#reactorlayers .cell:hover {
  border: 1px solid black;
  background-color: #D4D4D4;
}
#reactorlayers .cell:active {
  border: 1px solid black;
  background-color: #AAA;
}

#reactorlayers .cell.invalid {
  border: 1px solid #FF0000;
}

#reactorlayers .cell.validmoderator {
  background-color: #FAA;
}


#hotbar {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  background-color: #333;
  border: 2px ridge blue;
}
.hotbarcell {
  margin-right: 10px;
}
.hotbarcellselected {
  border: 5px ridge green;
}
#idpicker {
  margin: auto;
  height: 60%;
  font-size: 30px;
}
#statspanel {
  grid-row: 2;
  grid-column: 3;
  background-color: #017;
  color: whitesmoke;
  border: 2px ridge blue;
  padding: 5px;
}
#statspanel h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
#optionspanel {
  grid-row: 2;
  grid-column: 1;
}
#optionspanel button {
  margin: 20px;
}
