/*Main stylesheet for Einsteinium.*/
html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0, #000, #000, #AA0, #AA0);
}

#pagewrapper {
  margin: auto;
  display: grid;
  width: 99%;
  height: 99%;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: 6% 85% 10%;
  background-color: #3a0;
}
#titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: span 3;
  background-color: #280;
}
#titletext {
  font-family: "Helvetica",sans-serif;
  font-size: 225%;
  color: #FF0;
  display:flex;
  align-content: center;
}
#title {
  margin-right: 10px;
}
#titletext input {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#reactorlayers {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-row: 2;
  grid-column: 2;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #000;
  color: #7A0;
  border: 2px ridge blue;
  padding-right: 50px;
}


#reactorlayers .layer {
  background-color: #330;/*DEBUG*/
  aspect-ratio: 1;
}

#reactorlayers .layerinner {
  background-color: yellow;
  width: 99%;
  height: 99%;
  display: grid;
  grid-template-columns: repeat(var(--cells-x), 1fr);
  grid-template-rows: repeat(var(--cells-z), 1fr);
  /*I'm so glad this worked :D*/
}

#reactorlayers .cell {
  border: 1px solid black;
  background-color: #FFF;
}
#reactorlayers .cell:hover {
  border: 1px solid black;
  background-color: #D4D4D4;
}
#reactorlayers .cell:active {
  border: 1px solid black;
  background-color: #AAA;
}

#reactorlayers .cell.invalid {
  border: 1px solid #FF0000;
}

#reactorlayers .cell.validmoderator {
  background-color: #FAA;
}

#x_input, #y_input, #z_input {
  width: 40px;
  margin: 5px;
}

#hotbar {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  background-color: #333;
  border: 2px ridge blue;
}
.hotbarcell {
  margin: 0.3%;
  align-self: center;
  width: 4.5%;
}
.hotbarcell img {
  width: 99.9%;
}

.hotbarcellselected {
  border: 5px ridge green;
}
#idpicker {
  margin: auto;
  height: 60%;
  font-size: 30px;
}
#statspanel {
  grid-row: 2;
  grid-column: 3;
  background-color: #015;
  color: whitesmoke;
  font-family: monospace;
  font-size: 14px;
  border: 2px ridge blue;
  padding: 5px;
  overflow-y: scroll;
}
#statspanel h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
#optionspanel {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 1fr 1fr 0.3fr 1fr 1fr 0.4fr 0.4fr;
  grid-row: 2;
  grid-column: 1;
  text-align: center;
}
#optionspanel div.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px ridge darkblue; */
}
#optionspanel div.noflex {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Helvetica",sans-serif;
  font-size: 20px;
}
#optionspanel input {
  /* background-color: #68F;
  border-color: #32B; */
  background-color: #BCF;
  color: darkblue;
  border: 2px solid #347;
  border-radius: 3px;
  box-shadow: 3px 2px 2px gray;
  width: 90%;
}
#optionspanel button {
  padding: 1%;
  border: 1%;
  margin: auto;
  width: 78%;
  height: 78%;
  font-family: "Helvetica",sans-serif;
  font-size: 15px;
  background-color: #BCF;
  color: darkblue;
  border: 2px solid #347;
  border-radius: 5px;
  box-shadow: 3px 2px 2px gray;
}
